<!-- <pre>{{user | json}}</pre> -->
<div class="container-fluid ">
    <div class="row">
        <div style="height: 90vh; width: fit-content;" class="col-lg-2 bg-warning d-flex flex-column p-3">
            <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/dashboard">Home</a>
            <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/users">Users</a>
            </div>

            <div class="col-lg-10">
                <h1>Edit User Form</h1>
                <form #addUserForm="ngForm" class="border mt-5 p-3 rounded">
                    <div class="form-folating mb-3">
                        <input #id="ngModel" name="id" [(ngModel)]="user.id" type="text" class="form-control" id="floatingInputId" placeholder="Employee Id" pattern="[a-zA-Z0-9]*" required readonly>
                        <label for="floatingInputId"></label>
                       </div>
                       <div *ngIf="id.invalid && id.touched" class="mb- text-danger fw-bolder">*invlid user id</div>
                    <div class="form-folating mb-3">
                        <input #name="ngModel" name="name" [(ngModel)]="user.name" type="text" class="form-control" id="floatingInputName" placeholder="Employee Name" pattern="[a-zA-Z ]*" required> 
                        <label for="floatingInputName"></label>
                       </div>
                       <div *ngIf="name.invalid && name.touched" class="mb- text-danger fw-bolder">*invlid employe name</div>
                   <div class="form-folating mb-3">
                    <input  #email="ngModel" name="eamil" [(ngModel)]="user.email" type="text" class="form-control" id="floatingInputMail" placeholder="Employee Mail" email required>
                    <label for="floatingInputMail"></label>
                   </div>
                   <div *ngIf="email.invalid && email.touched" class="mb- text-danger fw-bolder">*invlid employee mail</div>
                   <div class="form-floating mb-3">
                    <select #status="ngModel" name="status" [(ngModel)]="user.status" class="form-control" id="floatingInputStatus" placeholder="Employee Status" required>
                        <option value="" hidden disabled selected></option>
                        <option value="1">Active</option>
                        <option value="0">InActive</option>
                    </select>
                    <label for="floatingInputMail">Employee status</label>
                   </div>
                   <div *ngIf="status.invalid && status.touched" class="mb-3 text-danger fw-bolder">*invlid user status</div>
                   <div class="d-flex mb-5 ms-3">
                    <button (click)="UpdateUser()" [disabled]="addUserForm.invalid" class="btn btn-success">Update</button>
                    <button (click)="cancel(user.id)" class="btn btn-danger ms-5">Cancel</button>
                   </div>
                </form>
            </div>
    </div>
</div>
